@model Monitorar_Tarefas.Models.Usuarios

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutLogado.cshtml";
}

<!-- MAIN CONTENT-->
<div class="main-content">
    <partial name="~/Views/Shared/_AlertasPartial.cshtml" />
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="card card-body shadow p-3 mb-5">
                <h2>Editar Usuário </h2>
                <form asp-action="Edit" class="was-validated" novalidate>
                    <text>Preencha os campos abaixo para modificação dos dados</text>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="validationfeedback01" asp-for="NomeUsuario" class="control-label"></label>
                            <input asp-for="NomeUsuario" type="text" class="form-control" id="validationfeedback01" required />
                            <small class="input-group form-text text-muted">Preencha o seu primeiro nome.</small>
                            <div class="valid-feedback">
                                OK!
                            </div>
                            <span asp-validation-for="NomeUsuario" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="validationfeedback02" asp-for="SobrenomeUsuario" class="control-label"></label>
                            <input asp-for="SobrenomeUsuario" type="text" class="form-control" id="validationfeedback02" required />
                            <small class="input-group form-text text-muted">Preencha o seu segundo nome.</small>
                            <div class="valid-feedback">
                                OK!
                            </div>
                            <span asp-validation-for="SobrenomeUsuario" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="validationfeedback03" asp-for="CPF" class="control-label"></label>
                            <input asp-for="CPF" type="text" class="form-control cpf" id="validationfeedback03" required />
                            <small class="input-group form-text text-muted">Informe o Nº do seu CPF.</small>
                            <div class="valid-feedback">
                                OK!
                            </div>
                            <span asp-validation-for="CPF" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="validationfeedback04" asp-for="TelefoneCelular" class="control-label"></label>
                            <input asp-for="TelefoneCelular" type="text" class="form-control telefone" id="validationfeedback04" required />
                            <small class="input-group form-text text-muted">Informe o Nº do seu Telefone ou Celular.</small>
                            <div class="valid-feedback">
                                OK!
                            </div>
                            <span asp-validation-for="TelefoneCelular" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="validationfeedback05" asp-for="DataNascimento" class="control-label"></label>
                            <input asp-for="DataNascimento" type="date" class="form-control" id="validationfeedback05" required />
                            <small class="input-group form-text text-muted">Informe a sua data de nascimento.</small>
                            <div class="valid-feedback">
                                OK!
                            </div>
                            <span asp-validation-for="DataNascimento" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="validationfeedback06" asp-for="TokenAcesso" class="control-label"></label>
                            <select asp-for="TokenAcesso" class="form-control" id="validationfeedback06" asp-items="ViewBag.TokenAcesso" required></select>
                            <small class="input-group form-text text-muted">Informe o token do perfil.</small>
                            <div class="valid-feedback">
                                OK!
                            </div>
                            <span asp-validation-for="TokenAcesso" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="validationfeedback07" asp-for="EmpresaId" class="control-label"></label>
                            <select asp-for="EmpresaId" class="form-control" id="validationfeedback07" asp-items="ViewBag.EmpresaId" required></select>
                            <small class="input-group form-text text-muted">Selecione a empresa vinculada ao projeto.</small>
                            <div class="valid-feedback">
                                OK!
                            </div>
                            <span asp-validation-for="EmpresaId" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="validationfeedback08" asp-for="PerfilId" class="control-label"></label>
                            <select asp-for="PerfilId" class="form-control" id="validationfeedback08" asp-items="ViewBag.PerfilId" required></select>
                            <small class="input-group form-text text-muted">Selecione o perfil de seu usuário.</small>
                            <div class="valid-feedback">
                                OK!
                            </div>
                            <span asp-validation-for="PerfilId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <a class="btn btn-secondary" asp-action="Index">Voltar à lista</a>
                        <input type="submit" value="Salvar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="copyright">
                <p>Copyright © 2020 - Monitorar Tarefas todos direitos reservados.</p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
