@model Monitorar_Tarefas.Models.Avisos

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Avisos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TituloAviso" class="control-label"></label>
                <input asp-for="TituloAviso" class="form-control" />
                <span asp-validation-for="TituloAviso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescricaoAviso" class="control-label"></label>
                <input asp-for="DescricaoAviso" class="form-control" />
                <span asp-validation-for="DescricaoAviso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataPostagemAviso" class="control-label"></label>
                <input asp-for="DataPostagemAviso" class="form-control" />
                <span asp-validation-for="DataPostagemAviso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataExpiracaoAviso" class="control-label"></label>
                <input asp-for="DataExpiracaoAviso" class="form-control" />
                <span asp-validation-for="DataExpiracaoAviso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
