@model Monitorar_Tarefas.Models.Avisos

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutLogado.cshtml";
}

<!-- MAIN CONTENT-->
<div class="main-content">
    <partial name="~/Views/Shared/_AlertasPartial.cshtml" />
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="card card-body shadow p-3 mb-5">
                <h2>Editar Aviso </h2>
                <form asp-action="Edit" class="was-validated" novalidate>
                    <text>Preencha os campos abaixo para modificação dos dados</text>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="validationfeedback01" asp-for="TituloAviso" class="control-label"></label>
                            <input asp-for="TituloAviso" type="text" class="form-control" id="validationfeedback01" required />
                            <small class="input-group form-text text-muted">Preencha o Título do projeto.</small>
                            <div class="valid-feedback">
                                OK!
                            </div>
                            <span asp-validation-for="TituloAviso" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="validationfeedback02" asp-for="DescricaoAviso" class="control-label"></label>
                            <input asp-for="DescricaoAviso" type="text" class="form-control" id="validationfeedback02" required />
                            <small class="input-group form-text text-muted">Preencha a decrição do projeto.</small>
                            <div class="valid-feedback">
                                OK!
                            </div>
                            <span asp-validation-for="DescricaoAviso" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="validationfeedback03" asp-for="DataPostagemAviso" class="control-label"></label>
                            <input asp-for="DataPostagemAviso" type="date" class="form-control" id="validationfeedback03" required />
                            <small class="input-group form-text text-muted">Informe a data da postagem.</small>
                            <div class="valid-feedback">
                                OK!
                            </div>
                            <span asp-validation-for="DataPostagemAviso" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="validationfeedback04" asp-for="DataExpiracaoAviso" class="control-label"></label>
                            <input asp-for="DataExpiracaoAviso" type="date" class="form-control" id="validationfeedback04" required />
                            <small class="input-group form-text text-muted">Informe a data da expiração.</small>
                            <div class="valid-feedback">
                                OK!
                            </div>
                            <span asp-validation-for="DataExpiracaoAviso" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <a class="btn btn-secondary" asp-action="Index">Voltar à lista</a>
                        <input type="submit" value="Salvar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="copyright">
                <p>Copyright © 2020 - Monitorar Tarefas todos direitos reservados.</p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
