@model Monitorar_Tarefas.Models.Categoria

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastro</h1>

<h4>Categoria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeCategoria" class="control-label"></label>
                <select clas asp-for="NomeCategoria" class="form-control">
                    <option value=""> Selecione as opções</option>
                    <option value="TI"> T.I</option>
                    <option value="Administracao"> Administração</option>
                    <option value="Contabilidade"> Contabilidade</option>
                    <option value="Saúde"> Saúde</option>
                </select>
                <br />

                <h6>Infome a sua categoria caso não conste nas opções</h6>
                <input type="text" asp-for="NomeCategoria" class="form-control" />
                <span asp-validation-for="NomeCategoria" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
