@model Monitorar_Tarefas.Models.Categoria

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutLogado.cshtml";
}

<!-- MAIN CONTENT-->
<div class="main-content">
    <partial name="~/Views/Shared/_AlertasPartial.cshtml" />
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <h2>Cadastrar Categoria </h2>
            <hr />
            <div class="card card-body shadow p-3 mb-5">
                <form asp-action="Create" class="was-validated" novalidate>
                    <text>Preencha os campos abaixo para realizar o cadastro</text>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="validationfeedback01" asp-for="NomeCategoria" class="control-label"></label>
                            <input asp-for="NomeCategoria" class="form-control" id="validationfeedback01" required />
                            <small class="input-group form-text text-muted">Informe a categoria na qual se enquadra no seu projeto.</small>
                            <div class="valid-feedback">
                                OK!
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <a class="btn btn-secondary" asp-action="Index">Voltar à lista</a>
                        <input type="submit" value="Salvar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="copyright">
                <p>Copyright © 2020 - Monitorar Tarefas todos direitos reservados.</p>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $("#preco").inputmask("mask", { "mask": "999.999,99" }, { reverse: true });
            $("#porcento").inputmask("mask", { "mask": "9,999" }, { reverse: true });
            $("#valor").inputmask("mask", { "mask": "#.##9,99" }, { reverse: true });
        });
    </script>
}
