@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao Monitorar Tarefas</h1>
    <p>Acomanhe de forma eficaz o fluxo de tarefas da sua equipe</p>
</div>
<br />

<div class="text-center">
    <p><a class="btn btn-light" asp-area="Identity" asp-page="/Account/Login">Iniciar agora</a></p>
</div>
