@model Monitorar_Tarefas.Models.Token

@{
    ViewData["Title"] = "Create";
}

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutLogado.cshtml";
}

<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">

            <h2>Cadastrar Token </h2>

            @if (TempData["ErroSalvar"] != null)
            {
                <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                    <span class="badge badge-pill badge-danger">Erro ao registrar!</span>
                    @TempData["ErroSalvar"]
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
            }

            <hr />
            <div class="card card-body shadow p-3 mb-5">
                <form asp-action="Create" class="was-validated" novalidate>
                    <text>Preencha os campos abaixo para realizar o cadastro</text>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="validationfeedback01" asp-for="Hash" class="control-label"></label>
                            <input asp-for="Hash" type="text" class="form-control" id="validationfeedback01" required>
                            <small class="input-group form-text text-muted">Informe o caracteres do Hash.</small>
                            <div class="valid-feedback">
                                OK!
                            </div>
                            <span asp-validation-for="Hash" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="validationfeedback02" asp-for="DataValidadeToken" class="control-label"></label>
                            <input asp-for="DataValidadeToken" type="date" class="form-control" id="validationfeedback02" required />
                            <small class="input-group form-text text-muted">Informe a data de validade.</small>
                            <div class="valid-feedback">
                                OK!
                            </div>
                            <span asp-validation-for="DataValidadeToken" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="validationfeedback06" asp-for="UsuarioId" class="control-label"></label>
                            <select asp-for="UsuarioId" class="form-control" id="validationfeedback06" asp-items="ViewBag.UsuarioId" required></select>
                            <small class="input-group form-text text-muted">Selecione o usuário a ser vinculado no token.</small>
                            <div class="valid-feedback">
                                OK!
                            </div>
                            <span asp-validation-for="UsuarioId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-secondary" asp-action="Index">Voltar à lista</a>
                        <input type="submit" value="Salvar" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="copyright">
                <p>Copyright © 2020 - Monitorar Tarefas todos direitos reservados.</p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
            $(document).ready(function () {
                $("#preco").inputmask("mask", { "mask": "999.999,99" }, { reverse: true });
                $("#porcento").inputmask("mask", { "mask": "9,999" }, { reverse: true });
                $("#valor").inputmask("mask", { "mask": "#.##9,99" }, { reverse: true });
            });
    </script>
}
